body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 1em;
  text-align: center;
  margin-top: 2rem;
}

h1 {
  font-size: 1.85rem;
}

h2 {
  font-size: 1.7rem;
  font-weight: lighter;
}

p {
  font-size: 1em;
}

.description {
  width: 30%;
  margin: 3rem auto 6rem;
  line-height: 2;
  border: grey solid 1rem;
  border-radius: 1rem;
  padding: 2rem;
  text-align: center;
}

.description ul {
  width: 80%;
  margin: 0 auto;
}

.description li {
  text-align: left;
}