body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 3em;
}

h3 {
  font-size: 2em;
  margin: 0.25em 0;
}

p {
  font-family: serif;
  font-size: 1em;
}

section {
  padding: 2em 0;
}

button {
  font-size: 1.25rem;
  background-color: white;
  border-radius: 2rem;
  color: green;
}


.header {
  padding: 3rem;
  background-color: rgb(251, 225, 252);
}

.counter-display {
  margin: 1.5rem;
  font-size: 2rem;
}

.name-form {
  margin: 1.5rem 0;
  padding: 2rem;
  background-color: lavender;
}

.name-form input {
  margin: 0.5rem;
}

.obj-display {
  background-color: rgba(255, 255, 255, 0.555);
  width: 20rem;
  margin: 1rem auto;
  padding: 1rem;
  border-radius: 2rem;
  text-align: left;
  color: darkgreen;
}

.obj-display p {
  font-family: monospace;
  font-size: 0.9rem;
}